<div style="text-align:center"><br>
  <h1>CALCULATOR</h1>
  <div class="calc">
    <div >
        <div>
          <input [(ngModel)]='num1' type="number" name="num1" > &nbsp;&nbsp;&nbsp;
          <input [(ngModel)]='num2' type="number" name="num2" >
        </div>

      <div class="">
        <br>
        <button class="btn btn-success" (click) = 'sum()'> SUM </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" (click) = 'diff()'> DIFF </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" (click) = 'mult()'> MULT </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" (click) = 'div()'> DIV </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" (click) = 'mod()'> MOD</button>
  
        <br><br><br>
      </div>
        <h6>{{answer}}</h6>
        <h4>Your result: {{result}}</h4>
      </div>
    </div>
  </div>